* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}
