* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
:root {
  --brandColorMenu: #4a4a4a;
  --brandColorMain: #3cdbc0;
  --BrandColorMainText: #ffffff;
}
.header {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 1000;
  /* display: flex; */
  background-color: white;
}
.logo {
  padding: 10 0;
  display: flex;
  justify-content: center;
}
.logoSize {
  width: 155px;
}
.menuContainer {
  display: flex;
}
.menu {
  display: flex;
  justify-content: center;
}
.listItem {
  font-family: "Rubik", "sans-serif";
}
.linkMenu {
  padding: 10px 10px 13px 10px;
  color: var(----brandColorMenu);
  font-size: 16px;
  text-decoration: none;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30 px;
  /* position: absolute; */
  background-color: var(--brandColorMain);
  padding: 300px 0;
}
.title {
  color: var(--BrandColorMainText);
}
.titleItem {
  text-align: center;
  display: block;
  font-family: "Rubik", "sans-serif";
}
@media all and (min-width: 768px) {
  .header {
    display: flex;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 20px 30px;
  }
  .menu {
    justify-content: flex-end;
    align-items: center;
  }
  .listItem {
    padding: 10px 10px;
    justify-content: flex-end;
  }
  .main {
    font-size: 40px;
  }
}
